{% extends 'base.html.twig' %}

{% block title 'Agence Lorem Ipsum' %}


{% block body %}
<div class="jumbotron text-center">
    <h1>Agence Lorem ipsum</h1>
    <p>Nam sagittis efficitur tortor, vitae suscipit nisl tincidunt eget. Vivamus maximus risus ac velit interdum, eget feugiat nunc viverra. Etiam lobortis efficitur dolor at feugiat. Integer malesuada varius enim. Sed a convallis justo. Sed pharetra, orci vel accumsan dignissim, turpis quam ultrices sapien, ac laoreet felis augue nec justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent neque sapien, venenatis</p>
</div>

<div class="container">
    <h2>Les derniers biens<h2>
    <div class="row flex">
    {% for property in properties %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class"cart-title">
                        <a href="{{ path('property.show', {id: property.id, slug: property.slug } )}}">{{ property.title }}</a>
                    <h5>
                    <p class="card-text">
                        {{ property.city }}  {{ property.postalCode }}
                    </p>
                    <div class="text-primary"> {{ property.price | number_format(0, '',' ') }} €</div>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
</div> 

{% endblock %}